<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513799965432-0pcvtpe6a3vv3h1ng23uaaughi069shi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513799965432-0pcvtpe6a3vv3h1ng23uaaughi069shi</string>
	<key>API_KEY</key>
	<string>AIzaSyD1l-D3LN-t1G2R-836eUEdgPkR90vwYcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>513799965432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Carlotta.Journal-Firebase</string>
	<key>PROJECT_ID</key>
	<string>employeedetailsfirebase-e5f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>employeedetailsfirebase-e5f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513799965432:ios:fbc73e2d622f8afd82090d</string>
</dict>
</plist>